{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1 class="title">About Us</h1>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum, dignissimos eaque minima quaerat quam
            quidem rem repellat reprehenderit tenetur. Labore modi mollitia nam non, numquam quos similique suscipit
            tempore!
        </p>
        <p>Amet aspernatur at culpa, deleniti dolorum ea ex excepturi exercitationem explicabo facere laboriosam,
            libero minus molestiae molestias pariatur perspiciatis, quasi quos rem sequi suscipit tempore temporibus ut
            voluptas? Distinctio, ullam!
        </p>
        <p>Accusantium aliquid esse labore, laborum numquam similique voluptatibus. Amet animi dolores harum hic
            impedit, iure modi neque nesciunt nihil odio optio perferendis perspiciatis porro possimus quas ratione
            temporibus ullam voluptatum?
        </p>
        <p>Accusantium animi architecto atque cum deleniti, distinctio facere laudantium modi neque nesciunt nobis
            perferendis quas quis quisquam, quod repudiandae soluta vitae voluptates. Consectetur dicta dignissimos iste
            iusto magnam officiis soluta?
        </p>
        <p>Ab alias aliquid aut consectetur deleniti distinctio dolor dolore eligendi esse expedita harum in ipsum
            obcaecati perspiciatis quibusdam quos ratione, saepe similique sit vero! Dolor magni porro sunt tempore
            velit.
        </p>
    </div>
{% endblock %}
