{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="title">Welcome to Contacts App!</h1>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deleniti enim molestias saepe similique suscipit
            tempora voluptate! A alias amet error et ipsam nisi odio perspiciatis quam quis sunt, tempore?
        </p>

        <p>Ad consequatur culpa deleniti deserunt dignissimos, distinctio, doloremque doloribus earum error est et fuga
            magni maxime necessitatibus nisi nulla obcaecati, pariatur quaerat quo reiciendis repellat sapiente sed
            similique suscipit veniam!
        </p>
    </div>
{% endblock %}
